// Color
$prmOrange: hsl(25, 97%, 53%);
$natWhite: hsl(0, 0%, 100%);
$natLightGrey: hsl(217, 12%, 63%);
$natMediumGrey: hsl(216, 12%, 54%);
$natDarkBlue: hsl(213, 19%, 18%);
$natVeryDarkBlue: hsl(216, 12%, 8%);
$card: hsl(213, 27%, 15%);